html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: no-repeat url(../assets/img/background-blur.png) center center fixed;
  background-size: cover;
}
button::before {
  box-shadow: none !important;
}

.q-page-container {
  padding: 0 !important;
}

.q-layout {
  &__shadow:after {
    box-shadow: none;
  }
  &__section--marginal {
    background: $background-dark-40;
  }
}

.q-dialog {
  &__backdrop {
    backdrop-filter: blur(3px);
  }
  &__inner--minimized {
    padding: 0;
  }
}

.q-card {
  box-shadow: none;
}

.q-checkbox__bg {
  border-radius: 10px;
  border: none;
  background-color: $white-15;
}

.q-btn__content {
  font-size: 15px;
}

.q-field {
  &__native {
    color: #fff;
  }
  &__label {
    color: $light-secondary !important;
  }
}
